<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>
  <body>
    <h1><%= title %> API Documentation</h1>
    <span class="subLinks">[ github: <a href="https://git.generalassemb.ly/GainorB/Tweedr">https://git.generalassemb.ly/GainorB/Tweedr</a> | live: <a href=""></a> ]</span><br>
    [ base url: https://tweedrapp.herokuapp.com/ ]<br><br>
    No authentication is required to access this API. All resources are fully open and available.
    <ul>
    <li>There is, however, a daily rate limit of 100 requests per resource per IP address. This is to stop our database from falling over under heavy load.</li>
    <li>By using, our API you agree to our Terms of Service.</li>
    </ul>
    <h3>GET ALL TWEEDS</h3>
    <div class="getDiv"><span class="larger"><span class="get">GET</span> https://tweedrapp.herokuapp.com/<span class="get">getTweeds</span></span></div>
    <h3>HOW TO CREATE A TWEED</h3><small>Accepts: application/json</small>
    <div class="createDiv"><span class="larger"><span class="create">POST</span> https://tweedrapp.herokuapp.com/<span class="create">createTweed</span></span></div>
    <div class="createDiv"><small>{ "post" : "content goes here" }</small></div>
    <h5>SUCCESS RESPONSE</h5>
    <div class="createDiv">
         <small>{ "status": "Tweed Created." }</small></div>
    <h5>STATUS CODES</h5>
    <div class="statusDiv"><small><p><span class="get">200 OK:</span> The request has completed successfully.</p>
         <p>500 Internal Server Error: Internal server exception. The request didn't succeed.</p>
         <p>401 Unauthorized: The user is not authorized.</p>
         <p>404 Page Not Found: The requested page doesn't exist.</p></small></div>
  </body>
</html>
